<% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= t 'general.form_error' %>
    </div>
<% end %>

<%= form_for @user do |f| %>
    <p>
      <%= f.text_field :full_name, class: "form-control", placeholder: t('activerecord.attributes.user.full_name') %>
      <%= error_tag @user, :full_name %>
    </p>

    <p>
      <%= f.text_field :location, class: "form-control", placeholder: t('activerecord.attributes.user.location') %>
      <%= error_tag @user, :location %>
    </p>

    <p>
      <%= f.text_field :email, class: "form-control", placeholder: t('activerecord.attributes.user.email') %>
      <%= error_tag @user, :email %>
    </p>

    <p>
      <%= f.password_field :password, class: "form-control", placeholder: t('activerecord.attributes.user.password') %>
      <%= error_tag @user, :password %>
    </p>

    <p>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('activerecord.attributes.user.password_confirmation')  %>
      <%= error_tag @user, :password_confirmation %>
    </p>

    <p>
      <%= f.text_area :bio, class: "form-control", placeholder: t('activerecord.attributes.user.bio') %>
      <%= error_tag @user, :bio %>
    </p>

  <%= f.submit class: "btn btn-default" %>
<% end %>