<h1><%= t '.title' %></h1>

<div id="content">
  <div id="form">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group">
    <%= link_to 'Voltar ao perfil', @user, class: 'btn btn-primary btn-responsive' %>
  </div>
</div>