<div id="content">
  <h1><%= t '.title', user_name: @user.full_name %></h1>

  <ul>
    <li><%= t '.location', location: @user.location %></li>
    <li><%= t '.bio', bio:  @user.bio %></li>
  </ul>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to 'Editar perfil', edit_user_path(@user), class: 'btn btn-primary' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
  </div>
</div>