<h1 align="center">Lista de quartos</h1>

<div id="content">
  <div id="tabela" class="table-responsive">
    <table class="table-striped">
      <thead>
        <tr>
          <th><%= t 'rooms.title' %></th>
          <th><%= t 'rooms.location' %></th>
          <th><%= t 'rooms.description' %></th>
          <th colspan="10"></th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.title %></td>
            <td><%= room.location %></td>
            <td><%= room.description %></td>
            <td>
              <div class="btn-group" role="group">
                <%= link_to t('layout.view'), room, class: 'btn btn-default btn-responsive' %>
                <%= link_to t('layout.editing'), edit_room_path(room), class: 'btn btn-default btn-responsive' %>
                <%= link_to t('layout.delete'), room, method: :delete, class: 'btn btn-danger btn-responsive', data: { confirm: 'Você tem certeza?' } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group">
    <%= link_to 'Novo quarto', new_room_path, class: 'btn btn-default', role: 'button' %>
    <%= link_to 'Home', root_path, class: 'btn btn-default', role: 'button' %>
  </div>
</div>