/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*
 *= require_self
 *= require_tree
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Pacifico|Kaushan+Script);

$header-heigth: 55px;
$content-width: 1000px;

$serif-families: "Pacifico", "Georgia", serif;
$sans-serif-families: "Helvetica", sans-serif;

$error-text-color: #B94A48;
$success-text-color: #468847;

@mixin shadow($color, $x, $y, $radius) {
  -moz-box-shadow: $color $x $y $radius;
  -webkit-box-shadow: $color $x $y $radius;
  box-shadow: $color $x $y $radius;
}

#content {
  text-align: left;
  width: $content-width;
  margin: 0 auto;

  ul, form, p {
    margin: 10px 0;
  }
}

form {
  padding: 18px;
  border-radius: 10px;
  label {
    display: block;
    margin: 5px 0;
    color: #444;
  }

  input[type=text], input[type=password], textarea {
    color: #444;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    outline: 0;
  }

  @include shadow(rgba(0, 0, 0, 0.1), 0px, 0px, 15px);
  &:focus {
    border: 1px solid #c9c9c9
  }
}

.field_with_errors {
  display: inline;

  label { color: $error-text-color; }

  input[type=text], input[type=password], textarea {
    border: 1px solid rgba(189, 74, 72, 0.5);
    @include shadow(rgba(189, 74, 72, 0.2), 0px, 0px, 8px);

    &:focus{ border: 1px solid rgba(189, 74, 72, 0.6);}
  }
}

.error_message {
  margin-left: 5px;
  display: inline;
  color: $error-text-color;
}

.padded_flash {
  padding: 10px;
  margin: 10px 0;
  font-weight: bold;
  width: 500px;
}

#error_explanation {
  color: $error-text-color;
  @extend .padded_flash;
}

#notice {
  color: $success-text-color;
  border: 1px solid $success-text-color;
  @extend .padded_flash;
  background-color: #DFF0D8;
}

#alert {
  color: $error-text-color;
  border: 1px solid $error-text-color;
  @extend .padded_flash;
  background-color: #F2DEDE;
}