body { background-color: #ffffff; }

body {
  padding-top: 70px;
}

#welcome {
  text-align: center;
}

th {
  width: 250px;
}

tr {
  height: 40px;
}

td {
  padding: 8px;
}


.btn-default {
  background-color: transparent;
}

.btn-danger {
  background-color: transparent;
  color: #cc0000;
}

.btn-danger:hover {
  background-color: #cc0000;
  transition: .01s;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}