<div align="center">
  <h1><%= t '.title' %></h1>

  <% if @user_session.errors.has_key? :base %>
      <div id="error_explanation">
        <%= @user_session.errors[:base].join(', ') %>
      </div>
  <% end %>

  <%= form_for @user_session do |f| %>
      <p>
        <%= f.text_field :email, class: "form-control", placeholder: t('activemodel.attributes.user_session.email') %>
        <%= error_tag @user_session, :email %>
      </p>

      <p>
        <%= f.password_field :password, class: "form-control", placeholder: t('activemodel.attributes.user_session.password') %>
        <%= error_tag @user_session, :password %>
      </p>

      <p>
        <%= f.submit class: "btn btn-default" %>
      </p>

      <p><%= link_to t('.sign_up'), new_user_path %></p>
  <% end %>
</div>